@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: Quicksand;
  src: url(../font/Quicksand/static/Quicksand-Medium.ttf); }

@font-face {
  font-family: Montserrat;
  src: url(../font/Montserrat/static/Montserrat-Regular.ttf); }

a {
  text-decoration: none;
  color: black; }

main {
  background-color: #060b5ae0;
  color: white;
  min-height: 600px;
  font-family: "Montserrat"; }
  main .centrado {
    text-align: center;
    padding: 20px; }
  main .bold {
    font-weight: bold; }
  main .padt {
    padding-top: 1.5rem; }
  main p {
    font-size: 1.1rem;
    padding: 40px; }
  main h3 {
    font-family: "Quicksand";
    font-size: 1.6rem; }
  main h4 {
    font-size: 1.3rem;
    padding-left: 2rem;
    padding-top: 1rem; }
  main .carousel {
    padding: 2rem; }
  main .datos {
    display: flex;
    justify-content: space-between; }
    main .datos .promos {
      font-size: 1.2rem;
      padding: 1.5rem;
      border-right: 1px solid #fff;
      margin: 0; }
      main .datos .promos .descuento {
        max-width: 120px; }
      main .datos .promos li {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0.4rem;
        text-align: right; }
        main .datos .promos li img {
          padding-left: 1.5rem; }
    main .datos img {
      max-height: 350px;
      border-radius: 50px;
      padding: 5px;
      padding-right: 10px;
      display: flex;
      align-self: center; }
    main .datos .punteo {
      font-size: 1.2rem;
      padding-left: 4rem;
      list-style-type: disc;
      padding-top: 40px; }
      main .datos .punteo li {
        padding: 1.5rem 1.2rem;
        padding-right: 5rem;
        text-align: left; }
  main .icons ul {
    list-style-type: none;
    font-family: "Montserrat";
    display: flex;
    justify-content: center; }
    main .icons ul li {
      display: flex;
      align-items: center;
      padding: 0.6rem;
      padding-left: 2rem;
      padding-right: 2rem;
      margin-top: 3rem;
      margin-bottom: 2rem; }
  main .icons .icon {
    min-width: 40px;
    margin-right: 1rem; }
  main .icons .borde {
    border-left: #fff solid 1px;
    border-right: #fff solid 1px; }
  main .examenes, main .cursos {
    padding: 1rem 2rem; }
    main .examenes .sangria, main .cursos .sangria {
      padding-left: 2rem; }
    main .examenes div ul li, main .cursos div ul li {
      padding: 0 0 20px 30px; }
  main section div h3 {
    padding-top: 3rem;
    display: flex;
    justify-content: center; }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  nav .logo {
    max-width: 150px;
    padding: 5%;
    transition: 1s; }
    nav .logo:hover {
      transform: scale(0.9); }
  nav .enlaces {
    display: flex;
    justify-content: flex-end; }
    nav .enlaces a {
      font-family: "Quicksand";
      font-size: 1rem;
      list-style: none;
      margin: 1rem;
      display: inline-block;
      padding: 0.4rem;
      border-radius: 5rem;
      transition: 0.5s;
      color: #000; }
      nav .enlaces a:hover {
        color: #ffffff;
        background-color: #060b5ae0; }

footer {
  display: flex;
  justify-content: flex-end; }
  footer ul li {
    display: inline-block;
    margin: 10px; }
    footer ul li .icon-peque {
      width: 40px;
      transition: 1s; }
      footer ul li .icon-peque:hover {
        transform: scale(0.9); }

.section1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.3fr 1.5fr;
  grid-template-areas: "title img" "punteo img"; }
  .section1 h3 {
    grid-area: title;
    text-align: center;
    padding: 2rem; }
  .section1 .punteo {
    grid-area: punteo;
    padding-top: 0px;
    padding-bottom: 2rem; }
  .section1 div {
    grid-area: img;
    display: flex;
    justify-content: center;
    align-items: center; }
    .section1 div img {
      max-width: 600px;
      border-radius: 10px; }

.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .galeria .marco {
    width: 360px;
    height: 260px;
    background-color: #fff;
    margin: 40px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 2s; }
    .galeria .marco .foto {
      max-width: 360px;
      max-height: 260px; }
      .galeria .marco .foto:hover {
        transform: scale(1.3) !important; }

@media screen and (max-width: 992px) {
  /* header */
  .enlaces {
    justify-content: center; }
    .enlaces div a {
      display: flex;
      justify-content: center; }
  /* main */
  h3 {
    font-size: 1.4rem;
    text-align: center; }
  .datos {
    flex-direction: column;
    margin-bottom: 6vh; }
    .datos .descuento {
      width: 6rem; }
  .punteo li {
    padding: 4vw; }
  .icons ul {
    padding: 5vw 10vh;
    border-top: #fff 1px solid;
    flex-direction: column; }
    .icons ul li {
      margin: 20px 0; }
  .borde, .promos {
    border: none; }
  .carousel {
    padding: 1rem 0; }
  /* Galería */
  .marco {
    width: 260px;
    height: 160px;
    margin: 30px 40px; }
    .marco .foto {
      max-width: 260px;
      max-height: 160px; }
  /* grid clases personalizadas */
  .section1 {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1.2fr 1fr;
    grid-template-areas: "title" "punteo" "img" "img"; }
    .section1 h3 {
      padding-top: 4rem; }
    .section1 div img {
      max-width: 600px;
      padding-bottom: 50px; } }

@media screen and (max-width: 768px) {
  h3 {
    font-size: 1.4rem; }
  h4 {
    font-size: 1.2rem; }
  .promos {
    padding: 1rem; }
    .promos li {
      font-size: 1.1rem; }
    .promos .descuento {
      max-width: 100px; }
  .centrado p {
    font-size: 1.1rem; }
  .punteo {
    padding-top: 20px;
    padding-left: 3rem; }
  .carousel {
    padding: 1rem 0; }
  /* Galería */
  .marco {
    width: 400px;
    height: 300px;
    margin: 30px 40px; }
    .marco .foto {
      max-width: 400px;
      max-height: 300px; }
  /* grid clases personalizadas */
  .section1 {
    grid-template-rows: 0.1fr 0.7fr 0.8fr; }
    .section1 div img {
      max-width: 390px;
      padding-bottom: 50px; }
    .section1 h3 {
      padding-top: 3rem; }
  .punteo li {
    padding: 1.6rem; } }

@media screen and (max-width: 576px) {
  h3 {
    font-size: 1.2rem; }
  h4, p {
    font-size: 1.1rem;
    padding: 10px; }
  .promos {
    padding: 0.9rem; }
    .promos li {
      font-size: 1rem; }
      .promos li img {
        padding-left: 1rem;
        width: 5rem; }
  .punteo {
    padding-left: 25px; }
    .punteo li {
      padding: 0.8rem;
      font-size: 1.1rem; }
  .icons ul li {
    padding: 1rem 0.3rem; }
  /* Galería */
  .marco {
    width: 300px;
    height: 200px;
    margin: 30px 40px; }
    .marco .foto {
      max-width: 300px;
      max-height: 200px; }
  /* grid clases personalizadas */
  .section1 {
    grid-template-rows: 0.1fr 0.7fr 0.6fr; }
    .section1 h3 {
      padding-top: 2rem; }
    .section1 div img {
      max-width: 260px; }
  .punteo li {
    padding: 1rem;
    font-size: 1rem; }
  /* footer */
  footer {
    display: flex;
    justify-content: center; }
    footer ul li {
      display: inline-block;
      margin: 8px; }
      footer ul li .icon-peque {
        width: 35px;
        transition: 1s; } }
