// media querie md
@media screen and (max-width: 992px){

    /* header */

    .enlaces{
        justify-content: center;
    }
    div{
        a{
            display: flex;
            justify-content: center;
        }
    }

    /* main */

    h3{
        font-size: 1.4rem;
        text-align: center;
    }
    .datos{
        flex-direction: column;
        margin-bottom: 6vh;
    }
    .descuento{
        width: 6rem;
    }
    .punteo {
        li{
        padding: 4vw;
        }
    }
    .icons{
        ul{
            padding: 5vw 10vh; 
            border-top: #fff 1px solid;
            flex-direction: column;
            li{
                margin: 20px 0;
            }
        }
    }
    .borde, .promos{
        border: none;
    }
    .carousel{
        padding: 1rem 0;
    }

    /* Galería */

    .marco{
        width: 260px;
        height: 160px;
        margin: 30px 40px;
    }
    .foto{
        max-width: 260px;
        max-height: 160px;
    }
    
    /* grid clases personalizadas */

    .section1{
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1.2fr 1fr;
        grid-template-areas: 
        "title"
        "punteo"
        "img"
        "img";
        h3{
            padding-top: 4rem;
        }
        div{
            img{
                max-width: 600px;
        padding-bottom: 50px;
            }
        }
    }
}