*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Quicksand;
    src: url(../font/Quicksand/static/Quicksand-Medium.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(../font/Montserrat/static/Montserrat-Regular.ttf);
}
a{
    text-decoration: none;
    color: black;
}

ul {
    padding: 0;
}

$blue: #060b5ae0;

@mixin hovers ($size){
    transform: scale($size) !important;
}
@mixin btn (){
    margin: 18px;
    border: none;
    &::placeholder{
        color: #000
        }
    }


@import './main';
@import './header';
@import './footer';
@import './clases-personalizadas';
@import './galeria';
@import './contacto';
@import './media-querie-md';
@import './media-querie-sm';
@import './media-querie-xs';