.data {
    display: flex;
}

.promotions {
    font-size: 1.2rem;
    padding: 1rem;
    border-right: 1px solid #fff;
    margin: 0;
}

.promotions li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.4rem;
    text-align: right;
}

.promotions li img {
    padding-left: 1.5rem;
}

/* MD */
@media screen and (max-width: 992px) {
    .promotions {
        border: none;
    }
    
    .data {
        flex-direction: column;
        margin-bottom: 6vh;
    }
}

/* SM */
@media screen and (max-width: 768px) {
    .promotions {
        padding: 1rem;
    }

    .promotions li {
        font-size: 1.1rem;
    }
}

/* XS */
@media screen and (max-width: 576px) {
    .promotions {
        padding: 0.9rem;
    }

    .promotions li {
        font-size: 1rem;
    }

    .promotions li img {
        padding-left: 1rem;
        width: 5rem;
    }
}