nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 150px;
    padding: 5%;
    transition: 1s;
}

.logo:hover {
    transform: scale(0.9) !important;
}

.links {
    display: flex;
    justify-content: flex-end;
}

.links a {
    font-family: "Quicksand";
    font-size: 1rem;
    list-style: none;
    margin: 1rem;
    display: inline-block;
    padding: 0.4rem;
    border-radius: 5rem;
    transition: 0.5s;
    color: #000;
}

.links a:hover {
    color: #ffffff;
    background-color: #060b5ae0; 
}
