.carouselContainer {
  margin: 2rem auto;
  width: 80vw;
}

@media screen and (max-width: 992px) {
  .carouselContainer {
    width: 90vw;
  }
}

@media screen and (max-width: 768px) {
  .carouselContainer {
    width: 100vw;
  }
}