footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: .5rem 0;
}

footer h5 {
    color: black;
    font-family: "Quicksand", sans-serif;
    padding-top: 1rem;
    color: #16165a5b;
}

footer ul {
    margin-bottom: 0;
}

footer ul li {
    display: inline-block;
    margin: 0 8px 1rem 8px;
}

.small-icon {
    height: 50px;
    transition: 0.5s;
}

.small-icon:hover {
    transform: scale(0.9) !important;
}

@media screen and (max-width: 768px) {
    footer {
        justify-content: center;
    }
}

@media screen and (max-width: 576px) {
    footer {
        display: flex;
        justify-content: center;
    }
    
    footer ul li {
        display: inline-block;
        margin: 8px;
    }
    
    footer ul li .small-icon {
        width: 35px;
        transition: 1s;
    }
}