footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1rem 7rem;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


footer h5 {
    color: black;
    font-family: "Montserrat", sans-serif;
    margin: 0 0 0.5rem 6px;
}

footer p {
    color: black;
    font-size: 1.1rem;
    font-family: "Montserrat", sans-serif;
    margin: .5rem 0 0 0;
}

footer ul li {
    display: inline-block;
    margin: 0 6px 0 6px;
}

.brand-footer {
    display: flex;
    align-items: center;
}

.brand-footer p {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brand-footer img {
    width: 210px;
}

.brand-footer .footer-logo {
    width: 260px;
    margin-left: 2rem;
}

.small-icon {
    height: 48px;
    width: auto;
    transition: 0.5s;
}

.small-icon:hover {
    transform: scale(0.9) !important;
}

@media screen and (max-width: 992px) {
    footer {
        padding: 1rem 2rem;
        justify-content: center;
    }

    .brand-footer .footer-logo {
        margin-left: 0;
    }

    .brand-footer img {
        width: 200px;
    }
}

@media screen and (max-width: 768px) {
    footer {
        flex-direction: column;
    }

    .brand-footer {
        margin-top: 1rem;
    }

    .brand-footer .footer-logo {
        margin-left: 1rem;
    }
}

@media screen and (max-width: 576px) {
    footer {
        justify-content: center;
        padding: 1rem 0;
    }
    
    footer ul li {
        margin: 8px;
    }
    
    footer ul li .small-icon {
        transition: 1s;
    }

    .brand-footer {
        flex-direction: column;
        align-items: center;
    }

    .brand-footer .footer-logo {
        margin-left: 0;
        padding: 1rem 0;
    }

    .brand-footer p {
        margin-top: 1rem;
    }
    
    .brand-footer img {
        width: 250px;
    }

    .footer-links {
        padding-top: 1rem;
        align-items: center;
    }
}