.question h5 {
    margin: 10px 10px 0 10px;
}

.question {
    margin-top: 30px;
}

.question ul {
    margin-top: 6px;
}

.question ul li {
    padding-top: .8rem;
    padding-bottom: 0;
}

.test ul li {
    list-style-type: none;
}

.test ul li label input {
    margin-right: 0.4rem;
}